# Ignore compiled binaries
*.exe
*.dll
*.so
*.class
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
# Ignore dependency directories
node_modules/
venv/

# Ignore temporary files
*.log
*~
.DS_Store
Thumbs.db

# Ignore configuration files
.env
.idea/
.vscode/